{extend name="Base:common" /} {block name="body"}

<div class="header">
	<h1 class="page-header">
                           管理员 <small>新增管理员</small>
                       </h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('admin/index')}">管理员</a>
		</li>
		<li class="active">新增管理员</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<form class="col-md-12" method="post">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="card-title">
						<div class="title">新增管理员</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">管理员昵称</label>
							<div class="col-sm-4">
								<input type="text" name="nickName" class="form-control" required="required">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">管理员账号</label>
							<div class="col-sm-4">
								<input type="text" name="account" class="form-control" required="required">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">管理员密码</label>
							<div class="col-sm-4">
								<input type="text" name="password" class="form-control" required="required">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<button type="submit" class="btn btn-danger pull-right">确认新增</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block} {block name="script"}
{/block}