{extend name="Base:common" /} {block name="body"}

<div class="header">
	<h1 class="page-header">
                           修改密码
                       </h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li class="active">修改密码</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<form class="col-md-12" method="post" onsubmit="return validate()">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="card-title">
						<div class="title">修改密码</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">原密码</label>
							<div class="col-sm-4">
								<input type="text" name="password" class="form-control" required="required">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">新密码</label>
							<div class="col-sm-4">
								<input id="new_password" type="text" name="new_password" class="form-control" required="required">
							</div>
						</div>
					</div>
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label">确认密码</label>
							<div class="col-sm-4">
								<input id="new_password2" type="text" name="new_password2" class="form-control" required="required">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-body">
					<button type="submit" class="btn btn-danger pull-right">确认修改</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block} {block name="script"}
<script>
	function validate(){
		var new_password = $('#new_password').val();
		var new_password2 = $('#new_password2').val();
		if(new_password != new_password2){
			alert('两次密码输入不一致');
			return false;
		}
	}
</script>
{/block}