{extend name="Base:common" /} {block name="body"}

<div class="header">
	<h1 class="page-header">
		充值管理
	</h1>
	<ol class="breadcrumb">
		<li>
			<a href="{:url('index/index')}">首页</a>
		</li>
		<li>
			<a href="{:url('recharge/index')}">充值管理</a>
		</li>
	</ol>

</div>
<div id="page-inner">
	<div class="row">
		<div class="col-md-12">
			<!-- Advanced Tables -->
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="table-responsive">
						<table class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>学员信息</th>
									<th>订单信息</th>
									<th>费用信息</th>
									<th>操作人员</th>
									<th width="100">充值管理</th>
								</tr>
							</thead>
							<tbody>
								{volist name="list" id="vo"}
								<tr>
									<td class="center">
										账号：{$vo.student_account}<br />
										昵称：{$vo.student_nickName}<br />
										微信：{$vo.student_wx}<br />
										电话：{$vo.student_phone}
									</td>
									<td>
										套餐名称：{$vo.name}<br />
										套餐时效：{$vo.day}天<br />
										套餐内容：{$vo.class}课时/月<br />
										下单时间：{$vo.create_time}
									</td>
									<td class="center">
										套餐费用：{if condition="$vo.type == 0"}{if condition="$vo.usd_discount_money != null"}{$vo.usd_discount_money}美元{else/}{$vo.discount_money}韩元{/if}{elseif condition="$vo.type == 3"/}{$vo.discount_money}韩元{elseif condition="$vo.type == 1"/}{$vo.discount_money}韩元{elseif condition="$vo.type == 2"/}{if condition="$vo.cn_discount_money != null"}{$vo.cn_discount_money / 100}人民币{else/}{$vo.discount_money}韩元{/if}{/if}<br />
										支付方式：{if condition="$vo.type == 0"}PAYPAL{elseif condition="$vo.type == 3"/}韩币支付{elseif condition="$vo.type == 1"/}转账{elseif condition="$vo.type == 2"/}微信支付{/if}<br />
										{if condition="$vo.type == 1 OR $vo.type == 3"}汇款者姓名：{$vo.payer_name}<br />{/if}
										优惠券ID：{if condition="$vo.coupon_id == 0"}未使用{else /}{$vo.coupon_id}{/if}<br />
										开始时间：{$vo.payment_time}<br />
										结束时间：{$vo.end_time}
									</td>
									<td class="center">
										{if condition="$vo.type == 0"}
										账号：{$vo.student_account}<br />
										昵称：{$vo.student_nickName}<br />
										{else /}
										管理员账号：{$vo.admin_account}<br />
										管理员昵称：{$vo.admin_nickName}<br />
										{/if}
										操作时间：{if condition="$vo.type == 0"}{$vo.create_time}{else /}{$vo.payment_time}{/if}<br />
										操作结果：{if condition="$vo.state == 0"}充值失败{else /}充值成功{/if}
									</td>
									<td class="center">
										{if condition="($vo.type == 1) AND ($vo.state == 0)"}
										<button type="button" onclick="theconfirm({$vo.order_id});" class="btn btn-danger">确认收款</button>
										{/if}
									</td>
								</tr>
								{/volist}
							</tbody>
						</table>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="box" id="box"></div>
						</div>
					</div>
				</div>
			</div>
			<!--End Advanced Tables -->
		</div>
	</div>
</div>
{/block} {block name="script"}
<script>
	var setTotalCount = {$total};
	var p = {$p};
	$('#box').paging({
		initPageNo: {$p}, // 初始页码
		totalPages: {$pageNum}, //总页数
		totalCount: '共' + setTotalCount + '条数据', // 条目总数
		slideSpeed: 300, // 缓动速度。单位毫秒
		jump: false, //是否支持跳转
		callback: function(page) { // 回调函数
			if(page != p){
				window.location.replace("{:url('recharge/index')}" + '?p=' + page);
			}
		}
	})
	
	function theconfirm(order_id){
		info = '是否确认收款?';
		if(confirm(info)) {
			$.ajax({
				type: "POST",
				url: "{:url('recharge/confirm')}",
				data: {
					order_id: order_id
				},
				success: function(result) {
					if(result.data == 1) {
						location.reload();
					} else {
						alert('发生错误');
					}
				}
			});
		}
	}
</script>
{/block}