<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>我的课程</title>
		<link href="__STATIC__/css/aui.css" rel="stylesheet" />
		<link href="__STATIC__/css/style.css" rel="stylesheet" />
    		<link rel="stylesheet" type="text/css" href="__STATIC__/css/iconfont.css" />
    		{block name="css"}{/block}
	</head>

	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" onclick="javascript:history.back(-1);">
				<span class="aui-iconfont aui-icon-left"></span>
			</a>
			<div class="aui-title">我的课程</div>
		</header>
		<div class="aui-content aui-margin-b-15" id="list">
			{volist name="list" id="vo"}
			<ul class="aui-list aui-media-list aui-margin-b-15">
				<li class="aui-list-item">
					<div class="aui-info">
						<div class="aui-info-item" style="color: #000;">
							{$vo.start_time}
						</div>
						<div class="aui-info-item" style="margin-right: 0.8rem;color: #000;">
							{switch name="vo.state" } {case value="0"} 待开始 {/case} {case value="3"} 待评价 {/case} {case value="2"} 已取消 {/case} {default /} 已完成 {/switch}
						</div>
					</div>
					<div class="aui-hr"></div>
					<div class="aui-media-list-item-inner">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								分类：{$vo.course_type}
							</div>
							<div class="aui-list-item-text">
								教材：{$vo.course}，第{$vo.class}课
							</div>
							<div class="aui-list-item-text">
								学生：{$vo.nickName}
							</div>
							<div class="aui-list-item-text">
								微信：{$vo.wx}
							</div>
						</div>
						<div class="aui-list-item-media">
							<img src="{$vo.avatar}">
						</div>
					</div>
					<div class="aui-hr"></div>
					<div class="aui-info">
						<div class="aui-info-item">
							{if $vo.PriceType == 4}
							试听券
							{else /}
							课程券
							{/if}
						</div>
						<div class="aui-info-item" style="margin-right: 0.8rem;">
							{switch name="vo.state" } {case value="0"}
							<div class="aui-btn aui-btn-purple" onclick="cancel({$vo.id});">取消预约</div>
							{/case} {case value="3"} 您的学生还未对您进行评价 {/case} {case value="2"} {if $vo.reason_type == 2} 管理员取消 {elseif $vo.reason_type == 1} 老师取消 {else /} 学生取消 {/if} {/case} {default /} 
							{for start="0" end="5"}
								{if $vo.score > $i}
								<i class="aui-iconfont iconfont icon-iconfontxingxing" style="color: #ffba00;"></i> 
								{else /}
								<i class="aui-iconfont aui-icon-star" style="font-size: 0.68rem;"></i> 
								{/if}
							{/for}
							{/switch}
						</div>
					</div>
				</li>
			</ul>
			{/volist}
		</div>
		<script src="__STATIC__/js/jquery-1.10.2.js"></script>
		<script src="__STATIC__/js/aui-scroll.js"></script>
		<script src="__STATIC__/js/aui-dialog.js"></script>
		<script>
			var dialog = new auiDialog();
			function cancel(id){
				dialog.alert({
					title:"取消预约",
					msg:'取消原因',
					input:true,
					buttons:['取消','确定']
				},function(ret){
					if(ret.buttonIndex == 2){
						$.ajax({
							type: "POST",
							url: "{:url('timetable/cancel')}",
							data: {
								id: id,
								reason:ret.text
							},
							success: function(result) {
								if(result.data == 1) {
									thereload();
								} else {
									alert('发生错误');
								}
							}
						});
					}
				})
			}
			
			function thereload(){
				setTimeout(function() {
					dialog.alert({
						title: "提示",
						msg: '取消成功',
						buttons: ['确认']
					}, function(ret) {
						location.reload();
					})
				},500);
			}
		</script>
		<script>
			var p = 1;
			var s = 1;
			var st = {$s};
			var scroll = new auiScroll({
				listen: true, //是否监听滚动高度，开启后将实时返回滚动高度
				distance: 200 //判断到达底部的距离，isToBottom为true
			}, function(ret) {
				if(ret.isToBottom == true && s == 1) {
					p++;
					$.getJSON("{:url('my/order_list')}" + "?p=" + p + "&state=" + st, function(result) {
						data = result.data;
						if(data.length < 20) {
							s = 0;
						}
						for(var n = 0; n < data.length; n++) {
							var state;
							var state_info;
							if(data[n].state == 0) {
								state = '待开始';
								state_info = '<div class="aui-btn aui-btn-purple" onclick="cancel(' + data[n].id + ');">取消预约</div>';
							} else if(data[n].state == 3) {
								state = '待评价';
								state_info = '您的学生还未对您进行评价';
							} else if(data[n].state == 2) {
								state = '已取消';
								if(data[n].reason_type == 2){
									state_info = '管理员取消成功';
								}else if(data[n].reason_type == 1){
									state_info = '老师取消成功';
								}else{
									state_info = '学生取消成功';
								}
							} else { 
								state = '已完成';
								for(i = 0; i < 5; i++) {
									if(data[n].score > i){
										state_info += '<i class="aui-iconfont iconfont icon-iconfontxingxing" style="color: #ffba00;"></i>';
									}else{
										state_info += '<i class="aui-iconfont aui-icon-star" style="font-size: 0.68rem;"></i>';
									}
								}
							}
							var PriceType;
							if(data[n].PriceType == 3) {
								PriceType = '试听券';
							}else{
								PriceType = '课程券';
							}
							document.getElementById("list").innerHTML +=
								'<ul class="aui-list aui-media-list aui-margin-b-15"><li class="aui-list-item"><div class="aui-info"><div class="aui-info-item" style="color: #000;">' +
								data[n].start_time +
								'</div><div class="aui-info-item" style="margin-right: 0.8rem;color: #000;">' +
								state +
								'</div></div><div class="aui-hr"></div><div class="aui-media-list-item-inner"><div class="aui-list-item-inner"><div class="aui-list-item-text">' +
								'教材：' + data[n].course + '，' + data[n].course_type + '，第' + data[n].class + '课' +
								'</div><div class="aui-list-item-text">' +
								'学生：' + data[n].nickName +
								'</div><div class="aui-list-item-text">' +
								'微信：' + data[n].wx +
								'</div></div><div class="aui-list-item-media">' +
								'<img src="' + data[n].avatar + '">' +
								'</div></div><div class="aui-hr"></div><div class="aui-info"><div class="aui-info-item">' + PriceType + '</div><div class="aui-info-item" style="margin-right: 0.8rem;">' +
								state_info +
								'</div></div></li></ul>';
						}
					});
				}
			});
		</script>
	</body>

</html>