<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>账号设置</title>
		<link href="__STATIC__/css/aui.css" rel="stylesheet" />
		<link href="__STATIC__/css/style.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #ffffff;
			}
			
			.aui-list .aui-list-item {
				border-radius: 5px;
				border: 1px solid #cbcbcb;
				margin-top: 1rem;
			}
		</style>
		{block name="css"}{/block}
	</head>

	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" onclick="javascript:history.back(-1);">
				<span class="aui-iconfont aui-icon-left"></span>
			</a>
			<div class="aui-title">账号设置</div>
		</header>
		<div class="aui-content-padded aui-margin-b-15">
			<ul class="aui-list aui-form-list aui-media-list">
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input id="new_password" type="text" placeholder="设置新密码" required="required">
						</div>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input id="new_password2" type="text" placeholder="重复新密码" required="required">
						</div>
					</div>
				</li>
			</ul>
			<p>
				<button type="button" class="aui-btn aui-btn-purple aui-btn-block" onclick="edit();" style="margin-top: 1rem;">保存</button>
			</p>
		</div>
		<script src="__STATIC__/js/jquery-1.10.2.js"></script>
		<script src="__STATIC__/js/aui-dialog.js"></script>
		<script>
			var dialog = new auiDialog();

			function edit() {
				var new_password = document.getElementById("new_password").value;
				var new_password2 = document.getElementById("new_password2").value;
				if(new_password != new_password2) {
					alert('两次密码输入不一致');
					return false;
				}
				if(new_password.length < 6) {
					alert('密码小于6位');
					return false;
				}
				$.ajax({
					type: "POST",
					url: "{:url('my/password')}",
					data: {
						password: new_password
					},
					datatype: "json",
					success: function(result) {
						if(result.data == 1) {
							dialog.alert({
								title: "提示",
								msg: '已修改',
								buttons: ['确定']
							}, function(ret) {
								history.back(-1);
							})
						} else {
							alert("提交错误");
						}
					},
					error: function() {
						alert("提交错误");
					}
				});
			}
		</script>
	</body>

</html>