<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{$Think.lang.web_common_7}</title>
		<link href="../../static/css/aui.css" rel="stylesheet">
		<link href="../../static/css/style.css" rel="stylesheet">
		<style>
			html,
			body {
				background-color: #ffffff;
			}
		</style>
		
	</head>

	<body>
		<form class="aui-content-padded aui-margin-b-15" method="post">
			<div align="center">
				<img src="../../static/img/logo.jpeg" style="width: 55%;">
			</div>
			<ul class="aui-list aui-form-list">
				<li class="aui-list-item" style="border:1px solid #cbcbcb;border-radius:5px;">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input type="text" name="account" placeholder="{$Think.lang.web_common_8}" required="required">
						</div>
					</div>
				</li>
				<li class="aui-list-item" style="border:1px solid #cbcbcb;margin-top: 1rem;border-radius:5px;">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input type="password" name="password" placeholder="{$Think.lang.web_common_9}" required="required">
						</div>
					</div>
				</li>
			</ul>
			<p>
				<button type="submit" class="aui-btn aui-btn-purple aui-btn-block" style="margin-top: 2rem;">{$Think.lang.web_common_7}</button>
			</p>
			<div style="text-align: center;margin-top: 1.5rem;">
				{$Think.lang.web_common_10}<a href="enter.html" class="aui-text-purple" style="margin-left: 2rem;">{$Think.lang.web_common_6}</a>
			</div>
			<div style="text-align: center;margin-top: 3rem;">
				{$Think.lang.web_common_11_1}<br>
				{$Think.lang.web_common_11_2}<br><a href="{:url('ko/my/find_password_mailer')}" class="aui-text-purple">{$Think.lang.find_password}»</a></div>
		</form>	