<html><head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0">
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{$Think.lang.web_common_28}</title>
		<link href="__STATIC__/css/aui.css" rel="stylesheet">
		<link href="__STATIC__/css/style.css" rel="stylesheet">
		<style>
			html,
			body {
				background-color: #ffffff;
			}
			
			.aui-list .aui-list-item {
				border-radius: 5px;
				border: 1px solid #cbcbcb;
				margin-top: 1rem;
			}
		</style>
		
	</head>

	<body>
		<header class="aui-bar aui-bar-nav">
			<a class="aui-pull-left aui-btn" onclick="javascript:history.back(-1);">
				<span class="aui-iconfont aui-icon-left"></span>
			</a>
			<div class="aui-title">{$Think.lang.web_common_28}</div>
		</header>
		<div class="aui-content-padded aui-margin-b-15">
			<ul class="aui-list aui-form-list aui-media-list">
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input id="new_password" type="password" placeholder="{$Think.lang.my_index_60}" required="required">
						</div>
					</div>
				</li>
				<li class="aui-list-item">
					<div class="aui-list-item-inner">
						<div class="aui-list-item-input">
							<input id="new_password2" type="password" placeholder="{$Think.lang.my_index_47}" required="required">
						</div>
					</div>
				</li>
			</ul>
			<p>
				<button type="button" class="aui-btn aui-btn-purple aui-btn-block" onclick="edit();" style="margin-top: 1rem;">{$Think.lang.web_common_29}</button>
			</p>
		</div>
		<script type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js"></script><script src="/static/js/jquery-1.10.2.js"></script>
		<script src="/static/js/aui-dialog.js"></script>
		<script>
			var dialog = new auiDialog();
			function edit() {
				var new_password = document.getElementById("new_password").value;
				var new_password2 = document.getElementById("new_password2").value;
				if(new_password != new_password2) {
					alert('{$Think.lang.web_common_26}');
					return false;
				}
				if(new_password.length < 6) {
					alert('{$Think.lang.web_common_30}');
					return false;
				}
				$.ajax({
					type: "POST",
					url: "/ko/my/change_password",
					data: {
						"password": new_password,
						"id" : {$student_id},
					},
					datatype: "json",
					success: function(res) {
						if(res.result) {
							dialog.alert({
								title: "{$Think.lang.web_common_17}",
								msg: '{$Think.lang.my_index_61}.',
								buttons: ['{$Think.lang.web_common_18}']
							}, function(ret) {
								history.back(-1);
							})
						} else {
							alert("{$Think.lang.web_common_31}");
						}
					},
					error: function() {
						alert("{$Think.lang.web_common_31}");
					}
				});
			}
		</script>	