<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>{$Think.lang.my_index_39}</title>
		<link href="__STATIC__/css/aui.css" rel="stylesheet" />
		<link href="__STATIC__/css/style.css" rel="stylesheet" />
		<style>
			html,
			body {
				background-color: #ffffff;
			}
		</style>
		{block name="css"}{/block}
	</head>

	<body>
		<div class="aui-content">
			<div align="center">
				<img src="__STATIC__/img/wx-id.png" style="width: 100%;" />
			</div>
		</div>		<!-- Global site tag (gtag.js) - Google Ads: 789908941 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-789908941"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-789908941');
</script>
<script>
  gtag('event', 'page_view', {
    'send_to': 'AW-789908941',
    'user_id': 'replace with value'
  });
</script>
	</body>

</html>