<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="maximum-scale=1.0,minimum-scale=1.0,user-scalable=0,width=device-width,initial-scale=1.0" />
		<meta name="format-detection" content="telephone=no,email=no,date=no,address=no">
		<title>我的课表</title>
		<link href="__STATIC__/css/aui.css" rel="stylesheet" />
		<link href="__STATIC__/css/style.css" rel="stylesheet" /> {block name="css"}{/block}
	</head>

	<body>
		<div class="aui-tab" id="tab">
    			<div class="aui-tab-item aui-active">已报名课程</div>
    			<div class="aui-tab-item" onclick="location.href='{:url('timetable/evaluate')}'">待评价课程</div>
		</div>
		<div class="aui-content aui-margin-b-15" id="list">
			{empty name="list"}
			<div class="aui-content" align="center" style="margin-top: 4rem;">
				<img style="width: 40%;" src="__STATIC__/img/panpan.png" />
				<br />
				<h3>没有预约的课程</h3>
				<h3>请预约</h3>
			</div>
			{/empty}
			{volist name="list" id="vo"}
			<ul class="aui-list aui-media-list aui-margin-b-15 clipboard" data-clipboard-text="{$vo.wx}" onclick="">
				<li class="aui-list-item">
					<div class="aui-info">
						<div class="aui-info-item">
							<span>{$vo.start_time}</span>
						</div>
						<div class="aui-info-item" style="margin-right: 0.8rem;">
							待开始
						</div>
					</div>
					<div class="aui-hr"></div>
					<div class="aui-media-list-item-inner">
						<div class="aui-list-item-inner">
							<div class="aui-list-item-text">
								分类：{$vo.course_type}
							</div>
							<div class="aui-list-item-text">
								教材：{$vo.course}，第{$vo.class}课
							</div>
							<div class="aui-list-item-text">
								老师：{$vo.nickName}
							</div>
							<div class="aui-list-item-text">
								微信：{$vo.wx}
							</div>
						</div>
						<div class="aui-list-item-media">
							<img src="{$vo.avatar}">
						</div>
					</div>
					<div class="aui-hr"></div>
					<div class="aui-info">
						<div class="aui-info-item">
							<div class="aui-btn aui-btn-purple" onclick="location.href='{:url('teacher/info',['tid'=>$vo.tid])}'">老师介绍</div>
						</div>
						<div class="aui-info-item" style="margin-right: 0.8rem;">
							{if $vo.cancel == 0}
							<div class="aui-btn">取消预约</div>
							{else /}
							<div class="aui-btn aui-btn-purple" onclick="cancel({$vo.id});">取消预约</div>
							{/if}
						</div>
					</div>
				</li>
			</ul>
			{/volist}
		</div>
		<script src="__STATIC__/js/jquery-1.10.2.js"></script>
		<script src="__STATIC__/js/aui-scroll.js"></script>
		<script src="__STATIC__/js/aui-dialog.js"></script>
		<script src="__STATIC__/js/clipboard.min.js"></script>
		<script>
			new ClipboardJS('.clipboard');
			var dialog = new auiDialog();
			function cancel(id){
				dialog.alert({
					title:"取消预约",
					msg:'是否取消预约?',
					buttons:['否','是']
				},function(ret){
					if(ret.buttonIndex == 2){
						$.ajax({
							type: "POST",
							url: "{:url('timetable/cancel')}",
							data: {
								id: id,
								reason:''
							},
							success: function(result) {
								if(result.data == 1) {
									thereload();
								} else {
									alert('发生错误');
								}
							}
						});
					}
				})
			}
			
			function thereload(){
				setTimeout(function() {
					dialog.alert({
						title: "提示",
						msg: '取消成功',
						buttons: ['确认']
					}, function(ret) {
						location.reload();
					})
				},500);
			}
		</script>
		<script>
			var p = 1;
			var s = 1;
			var st = {$s};
			var scroll = new auiScroll({
				listen: true, //是否监听滚动高度，开启后将实时返回滚动高度
				distance: 200 //判断到达底部的距离，isToBottom为true
			}, function(ret) {
				if(ret.isToBottom == true && s == 1) {
					p++;
					$.getJSON("{:url('my/order_list')}" + "?p=" + p + "&state=" + st, function(result) {
						data = result.data;
						if(data.length < 20) {
							s = 0;
						}
						for(var n = 0; n < data.length; n++) {
							var state;
							var state_info;
							if(data[n].state == 0) {
								state = '待开始';
								if(data[n].cancel == 0){
									state_info = '<div class="aui-btn">取消预约</div>';
								}else{
									state_info = '<div class="aui-btn aui-btn-purple" onclick="cancel(' + data[n].id + ');">取消预约</div>';
								}
							} else if(data[n].state == 3) {
								state = '待评价';
								state_info = '还未进行评价';
							} else if(data[n].state == 2) {
								state = '已取消';
								state_info = '预约取消成功';
							} else {
								state = '已完成';
								for(i = 1; i < data[n].score; i++) {
									state_info += '<i class="aui-iconfont aui-icon-star"></i>';
								}
							}
							document.getElementById("list").innerHTML +=
								'<ul class="aui-list aui-media-list aui-margin-b-15 clipboard" data-clipboard-text="' + data[n].wx + '"><li class="aui-list-item"><div class="aui-info"><div class="aui-info-item">' +
								'<span>' + data[n].start_time + '</span>' +
								'</div><div class="aui-info-item" style="margin-right: 0.8rem;">' +
								state +
								'</div></div><div class="aui-hr"></div><div class="aui-media-list-item-inner"><div class="aui-list-item-inner"><div class="aui-list-item-text">' +
								'教材：' + data[n].course + '，' + data[n].course_type + '，第' + data[n].class + '课' +
								'</div><div class="aui-list-item-text">' +
								'学生：' + data[n].nickName +
								'</div><div class="aui-list-item-text">' +
								'微信：' + data[n].wx +
								'</div></div><div class="aui-list-item-media">' +
								'<img src="' + data[n].avatar + '">' +
								'</div></div><div class="aui-hr"></div><div class="aui-info"><div class="aui-info-item"><div class="aui-btn aui-btn-purple" onclick="location.href=\'{:url('teacher/info')}?tid='+ data[n].tid +'\'">老师介绍</div></div><div class="aui-info-item" style="margin-right: 0.8rem;">' +
								state_info +
								'</div></div></li></ul>';
						}
					});
				}
			});
		</script>
	</body>

</html>