<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>一对一课程管理后台</title>

<link href="__STATIC__/css/bootstrap.css" rel="stylesheet">
<link href="__STATIC__/css/signin.css" rel="stylesheet">

</head>

<body>

<div class="signin">
	<div class="signin-head" style="height: 165px;"></div>
	<form  class="form-signin" method="post" role="form">
		<input type="text" name="account" class="form-control" placeholder="用户名" required autofocus />
		<input type="password" name="password" class="form-control" placeholder="密码" required />
		<button class="btn btn-lg btn-warning btn-block" type="submit">登录</button>
	</form>
</div>
</body>
</html>
